@import 'settings';
@import 'foundation';

h1 {
    color: $primary-color;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

h2 {
    color: $dark-gray;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

h3 {
    color: #fff;
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
}

h4 {
    color: $dark-gray;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    text-transform: lowercase;
    font-family: Times;
    font-style: italic;
    text-align: center;
}

h5 {
    font-weight: bold;
    color: $dark-gray;
}

h6 {
    font-weight: lighter;
    color: $dark-gray;
}

p {
    font-size: $global-font-size;
    margin-bottom: 0px;
    hyphens: none;
}

a {
    font-size: $top-font-size;
    color: black;
    text-decoration: underline;
    text-align: center;
}

.top {
    background-color: $white !important;

    th.columns {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    th.archive th {
        text-align: right;
    }

    p {
        color: $medium-gray;
        font-size: 11px;
        margin-bottom: 0px;
    }

    a {
        color: $medium-gray;
        font-size: 11px;
    }

    @media only screen and (max-width: 596px) {
        th.archive {
            padding-top: 0px;

            th {
                text-align: left;
            }
        }

        th.preview {
            padding-bottom: 0px;
        }
    }
}

.header {
    background-color: $white;
    th.columns {
        th {
            text-align: center;
            img {
                display: inline-block;
            }
        }
    }
}

.logo {
    th {
        text-align: center;
        padding-top: 30px;

        .brand {
            font-family: Georgia, serif;
            font-weight: bold;
            font-size: 20px;
            letter-spacing: 5px;
            color: $medium-gray;
            text-decoration: none;
        }
    }
}

.signature {
    color: $medium-gray;
}

.footer {
    background-color: white !important;
    font-size: 11px;

    th.columns {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    th {
        text-align: center;
        font-size: 11px;
        color: $medium-gray;
    }

    a {
        color: $medium-gray;
        text-decoration: underline;
        font-size: 11px;
        text-align: center;
    }

    p {
        color: $medium-gray;
        font-size: 11px;
        text-align: center;
        line-height: 1.2;
    }

    .footer-text {
        p {
            margin-bottom: 15px;
        }
    }
}

.recommendation {
    img {
        margin-bottom: 5px;
        width: 150px;
    }
}

.banner {
    background-color: $primary-color;
    width: 100%;

    .callout {
        margin-top: 16px;
        margin-bottom: 0px;
        width: 100%;

        .callout-inner {
            background-color: $primary-color;
            border: 2px solid #fff;

            h2 {
                color: #fff;
            }
        }
    }
}

hr {
    width: 94%;
    border: 1px solid $light-gray;
}

.midsignature {
    width: 100px;
    margin: auto;
}

.coupon {
    background-color: $white;
    width: 100%;

    .callout {
        margin-top: 16px;
        margin-bottom: 0px;
        width: 100%;

        .callout-inner {
            background-color: $white;
            border: 2px dashed $primary-color;

            h1 {
                margin-top: 30px;
                margin-bottom: 30px;
            }

            h3 {
                color: $primary-color;
                margin-bottom: 30px;
            }
        }
    }
}

.cover {
    background-color: #80E0C4;
    width: 100%;

    .callout {
        margin: auto;
        margin-top: 16px;
        margin-bottom: 0px;
        width: 85%;

        .callout-inner {
            background-color: #80E0C4;
            border: none;

            p {
                text-align: center;
            }
        }
    }
}

.button.inverse {
    background-color: none;
    border: 1px solid #fff;
    border-radius: 0px;
    margin: 0 auto;
    margin-bottom: 16px;
}
