---
layout: 'metisa'
subject: 'Weekly Report'
---
{{> mt.top }}
{{{{raw}}}}
<container class="weekly-report main">
    <spacer size="16"></spacer>
    <!-- Summary -->
    <row>
        <columns small="12" large="12">
            <h1>{{ store_name }}: Weekly Report</h1>
            <h2>{{ this_period }}</h2>
            <h5>Summary</h5>
            <p>Hope you had a great weekend! Here's this week's summary of your store:</p>
            <!-- Primary stats -->
            <row>
                <columns small="12" large="12">
                    <div class="stat-wrapper">
                        <a href="{{ widgets_url }}">
                            <p class="stat-lg text-center">${{ summary.headline_stat_1.value }}</p>
                            <p class="text-center">{{ summary.headline_stat_1.name }}</p>
                        </a>
                    </div>
                </columns>
            </row>
            <row>
                <columns small="12" large="12">
                    <div class="stat-wrapper">
                        <a href="{{ acquisition_url }}">
                            <p class="stat-lg text-center">{{ summary.headline_stat_2.value }}</p>
                            <p class="text-center">{{ summary.headline_stat_2.name }}</p>
                        </a>
                    </div>
                </columns>
            </row>
            <!-- Secondary stats -->
            <p>
                For {{ current_month }} so far, your store has sold <strong>{{ summary.total_items_sold }} items</strong>, worth a total of <strong>${{ summary.total_sales }}</strong>.
                Of those, <strong>{{ summary.bestseller }}</strong> appears to be the most popular (customers bought <strong>{{ summary.bestseller_qty }} pieces</strong>).
                {% if summary.total_to_active %}
                Among your customers, <strong>{{ summary.total_to_active }} just became part of your most valuable "Active" segment</strong>.
                {% endif %}
                {% if summary.disengaged_to_active %}
                Of those, <strong>{{ summary.disengaged_to_active }} previously "At-risk" or "Lost" have returned</strong> to buy from you once again!
                {% endif %}
            </p>
            <p>
                Want to view more detailed stats? Visit your store
                <a href="{{ acquisition_url }}">dashboard</a>!
            </p>
        </columns>
    </row>

    <!-- Opportunities -->
    {% if priorities %}
    <row>
        <columns small="12" large="12">
            <h5>Opportunities <a href="{{ priorities.0.action.url }}">see all »</a></h5>
            <p>While you were busy making customers happy, I've figured out some opportunities to improve your business. Here they are:</p>
            <ul>
                <li>{{ priorities.0.action.name }} <a href="{{ priorities.0.action.url }}">Act now »</a></li>
                <li>{{ priorities.1.action.name }} <a href="{{ priorities.1.action.url }}">Act now »</a></li>
                <li>{{ priorities.2.action.name }} <a href="{{ priorities.2.action.url }}">Act now »</a></li>
            </ul>
        </columns>
    </row>
    <spacer size="12"></spacer>
    {% endif %}
</container>
<spacer size="12"></spacer>

<container class="weekly-report fun-fact">
    <spacer size="28"></spacer>
    <row>
        <columns small="12" large="12">
            {% if widget_top_product.count %}
            <p>The most well-received product that was recommended to your customers is <a href="{{ widget_top_product.url }}">{{ widget_top_product.name }}</a>. I caught happy customers stealing {{ widget_top_product.count }} looks at it this week!</p>
            {% elif not widget_top_product.count %}
            <p>Tip: Stores that turn on <a href="{{ widgets_url }}">Widgets</a> typically experience 10% more sales on average through personalised recommendations. Activation is easy, no coding required!</p>
            <p class="btn"><a href="{{ widgets_url }}" class="btn-default">Get Started with Widgets</a></p>
            {% endif %}
        </columns>
    </row>
</container>
<spacer size="12"></spacer>

<container class="weekly-report plans">
    <spacer size="28"></spacer>
    <row>
        <columns small="12" large="12">
            <p>
                Your team is on Metisa's <strong>{{ serviceplan.name }}</strong> plan, {{ serviceplan.description }} {{ serviceplan.cta }}
                {% if serviceplan.cta %}
                <a href="https://askmetisa.com/pricing?utm_source=weekly_report&utm_campaign=weekly_report">Check out our paid plans</a> to learn all about it.
                {% endif %}
            </p>
        </columns>
    </row>
    {{{{/raw}}}}
</container>
{{> mt.footer }}
