<container class="footer">
    <row>
        <hr style="width: 94%; align: center">
    </row>
    <row>
      <columns large="4"></columns>
      <columns large="1">
        <table>
          <tr>
            <th>
              <a href="https://www.facebook.com/" target="_blank"><center data-parsed=""> <img src="http://image.flaticon.com/icons/svg/69/69407.svg" align="center" class="float-center" width="48" style="width:48px; max-width:48px; display:inline-block; padding-left: 5px; padding-right: 5px"> </center></a>
              <a href="https://www.facebook.com" target="_blank" style="color: #606060;font-family: Arial;font-size: 11px;font-weight: normal;text-decoration: none;line-height: 100%;text-align: center;">Facebook</a>
            </th>
          </tr>
        </table>
      </columns>
      <columns large="1">
        <table>
          <tr>
            <th>
              <a href="https://instagram.com/" target="_blank"><center data-parsed=""> <img src="http://image.flaticon.com/icons/svg/69/69366.svg" align="center" class="float-center" width="48" style="width:48px; max-width:48px; display:inline-block; padding-left: 5px; padding-right: 5px"> </center></a>
              <a href="https://instagram.com/" target="_blank" style="color: #606060;font-family: Arial;font-size: 11px;font-weight: normal;text-decoration: none;line-height: 100%;text-align: center;">Instagram</a>
            </th>
          </tr>
        </table>
      </columns>
      <columns large="1">
        <table>
          <tr>
            <th>
              <a href="https://www.google.com" target="_blank"><center data-parsed=""> <img src="http://image.flaticon.com/icons/svg/181/181531.svg" class="float-center" width="48" style="width:48px; max-width:45px; display:inline-block; padding-left: 5px; padding-right: 5px"> </center></a>
              <a href="www.google.com" target="_blank" style="color: #606060;font-family: Arial;font-size: 11px;font-weight: normal;text-decoration: none;line-height: 100%;text-align: center;">Website</a>
            </th>
          </tr>
        </table>
      </columns>
      <columns large="4"></columns>
    </row>
    <row>
        <p><strong><br>SHOP NOW AT:<br>
        <a href="http://www.google.com" target="_blank">www.GOOGLE.com</a><br>
        <br>
        Email: email@company.com<br>
        Tel: (00) 0000 0000<br>
        Fax: (00) 0000 0000<br></strong>
        <br>
        Want to change how you receive these emails?<br>
        You can <a href="*|UPDATE_PROFILE|*">update your preferences</a> or <a href="*|UNSUB|*">unsubscribe from this list</a><br>
        &nbsp;</p>
    </row>
</container>