<container class="footer">
    <hr>
    <row>
      <columns class="footer-text">
        <p><strong>SHOP NOW:</strong><br><a href="http://www.yourbrandname.com" target="_blank">www.yourbrandname.com</a></p>
        <p><strong>CONTACT US:</strong><br>support@yourbrandname.com<br>(00) 0000 0000</p>
        <p>
          Want to change how you receive these emails?<br>
          You can <a href="*|UPDATE_PROFILE|*">update your preferences</a> or <a href="*|UNSUB|*">unsubscribe from this list</a><br>
        </p>
      </columns>
    </row>
</container>
<spacer size="16"></spacer>