{{{{raw}}}}
<container>
  <spacer size="16"></spacer>
  <row>
    <columns large="4">
      <table>
        <tr>
          <th>
            <a class="recommendation" href="{{PRO1_URL}}" target="_blank">
              <center data-parsed=""> <img src="{{PRO1_IMG}}" align="center" class="float-center"> </center>
              <h5 class="text-center">{{PRO1_NAME}}</h5>
              <h6 class="text-center">{{PRO1_DESC}}</h6>
            </a>
          </th>
        </tr>
      </table>
    </columns>
    <columns large="4">
      <table>
        <tr>
          <th>
            <a class="recommendation" href="{{PRO2_URL}}" target="_blank">
              <center data-parsed=""> <img src="{{PRO2_IMG}}" align="center" class="float-center"> </center>
              <h5 class="text-center">{{PRO2_NAME}}</h5>
              <h6 class="text-center">{{PRO2_DESC}}</h6>
            </a>
          </th>
        </tr>
      </table>
    </columns>
    <columns large="4">
      <table>
        <tr>
          <th>
            <a class="recommendation" href="{{PRO3_URL}}" target="_blank">
              <center data-parsed=""> <img src="{{PRO3_IMG}}" align="center" class="float-center"> </center>
              <h5 class="text-center">{{PRO3_NAME}}</h5>
              <h6 class="text-center">{{PRO3_DESC}}</h6>
            </a>
          </th>
        </tr>
      </table>
    </columns>
  </row>
  <spacer size="16"></spacer>
</container>
{{{{/raw}}}}